.main {
  font-family: var(--quicksand-font);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 16px 40px;
  border-radius: 32px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.main:hover {
  transform: scale(1.03);
}

.solid {
  background: #50aee9;
  border: 2px solid #50aee9;
}

.outline {
  background: transparent;
  border: 2px solid #fff;
}

.secondary {
  background: #00a85b;
  border: 2px solid #00a85b;
}
