.quicksand {
  font-family: var(--quicksand-font);
}

.varelaRound {
  font-family: var(--varela-round-font);
}

.raleway {
  font-family: var(--raleway-font);
}

.xs {
  font-size: 16px;
}

.sm {
  font-size: 18px;
}

.md {
  font-size: 20px;
}

.lg {
  font-size: 24px;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.dark {
  color: #383838;
}

.light {
  color: #e4f6fd;
}

.accent {
  color: #00a85b;
}
