.heroWrapper {
  position: relative;
  height: 386px;
  overflow: hidden;
}

.hero {
  object-fit: cover;
}

.heading {
  font-size: 48px !important;
  margin-bottom: 24px;
}

.date {
  color: rgb(80 174 233) !important;
  margin-bottom: 24px;
}
