.heroWrapper {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  z-index: -1;
}

.normalHeroWrapper {
  position: relative;
  width: 100%;
  background: linear-gradient(90deg, #00A85B 0%, #50AEE9 100%);
mix-blend-mode: normal;
padding: 40px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.container h1 {
  text-transform: uppercase;
  margin-bottom: 32px;
}

.headingWrapper {
  width: 100%;
}

@media (min-width: 768px) {
  .headingWrapper {
    width: 800px;
  }

  .normalHeroWrapper {
padding: 120px 0;
text-align: center;
}
}

.heroImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}

.heroVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
