.formulaSectionWrapper {
  position: relative;
  padding: 40px 0;
}

.formulaSectionHeading {
  text-align: center;
  margin-bottom: 24px;
}

.formulaSectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1154px;
  margin: 0 auto;
  gap: 24px;
}

.formulaCardWrapper {
  padding: 50px 32px;
  border-radius: 8px;
  box-shadow: 0 9px 30px rgb(0 0 0 / 20%);
  border: 1px solid #fff;
}

.formulaCardWrapperDark {
  background: rgb(56 56 56 / 15%);
}

.formulaCardWrapperLight {
  background: #fff;
}

.formulaCardWrapperHeading {
  text-transform: uppercase;
}

.formulaCardWrapperHr {
  margin: 24px 0;
  border: 0;
  border-top: 1px solid #e8e8e8;
}

.formulaCardWrapperText {
  font-size: 20px !important;
  line-height: 1.6;
}

.formulaCardButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.formulasSupplementWrapper {
  background: #fff;
  display: flex;
  flex-direction: column;
}

.formulasSupplementFirstBox {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formulasSupplementSecondBox {
  display: flex;
  align-items: center;
  background: #00a85b;
  padding: 40px 16px;
}

.formulasSupplementSpan {
  color: #00a85b;
}

.formulasDescriptionCardsContainer {
  padding: 40px 16px;
}

.formulasDescriptionCardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formulasDescriptionCardWrapper {
  background: #fff;
  box-shadow: 0 1px 24px rgb(56 56 56 / 16%);
  border-radius: 8px;
  padding: 24px;
}

.formulasDescriptionCardList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formulasDescriptionCardListItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 768px) {
  .formulaSectionWrapper {
    padding: 120px 0;
  }

  .formulaSectionHeading {
    margin-bottom: 40px;
  }

  .formulaSectionContent {
    flex-direction: row;
    gap: 40px;
  }

  .formulaCardWrapper {
    padding: 72px 40px;
  }

  .formulasSupplementWrapper {
    flex-direction: row;
  }

  .formulasSupplementFirstBox {
    padding: 80px 64px;
    gap: 40px;
    width: 55%;
  }

  .formulasSupplementSecondBox {
    padding: 0 64px;
    text-align: right;
    width: 45%;
  }

  .formulasDescriptionCardsContainer {
    padding: 64px 16px;
  }

  .formulasDescriptionCardsWrapper {
    flex-direction: row;
    gap: 34px;
  }

  .formulasDescriptionCardWrapper {
    padding: 64px 40px;
  }
}
